*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #FFFFFF;
  min-width: 320px;
  max-width: 1600px;
  margin: 0 auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

img {
  display: block;
}

.container {
  padding: 0 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    margin: 0 auto;
  }
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.subtitle {
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 50px;
}

@media screen and (max-width: 1199px) {
  .subtitle {
    font-size: 28px;
    line-height: 1.178;
  }
}

@media screen and (min-width: 1200px) {
  .subtitle {
    font-size: 36px;
    line-height: 1.167;
  }
}

.description-container {
  padding: 20px 24px;
}

.progect-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
}

.progect-tupe {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: scale(0);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
  z-index: 200000;
}

.modal-form-policy-ladel {
  cursor: pointer;
}

.modal-form-btn {
  cursor: pointer;
}

.close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.vector {
  width: 11px;
  height: 11px;
}

.vector:hover {
  fill: #2196F3;
}

@media screen and (max-width: 1199px) {
  .modal {
    width: 450px;
    height: 609px;
  }
  .modal-form-policy-ladel {
    white-space: nowrap;
    font-size: 12px;
    line-height: 1.166;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
  .modal-form-policy-ladel {
    font-size: 14px;
    line-height: 1.7;
  }
}

/* =======modal-form ==========*/
.modal-title {
  height: 23px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1,5;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.modal-form {
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form-input {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition-property: outline, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-btn {
  align-self: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  color: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 56px;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-btn:hover {
  background-color: #188CE8;
}

.modal-form-message {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  margin-bottom: 10px;
  margin-top: 4px;
  padding: 16px 12px;
  transition-property: outline, border, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1,17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-field {
  margin-bottom: 10px;
}

.modal-form-field-wrapper {
  display: block;
  position: relative;
  margin-top: 4px;
}

.modal-form-input:focus, .modal-form-message:focus {
  outline: none;
  border: 1px solid #2196F3;
}

.modal-form-svg-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
}

.modal-form-input:focus + .modal-form-svg-icon {
  fill: #2196F3;
}

.modal-form-policy-ladel {
  display: flex;
  align-items: center;
  font-weight: normal;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

.modal-form-policy-ladel::before {
  display: inline-flex;
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  margin-right: 8px;
  border-radius: 2px;
  cursor: pointer;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-policy:checked + .modal-form-policy-ladel::before {
  background-color: #2196F3;
  border: #2196F3;
  background-image: url(../images/svg/Vector.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.modal-form-policy:focus + .modal-form-policy-ladel::before,
.modal-form-policy:hover + .modal-form-policy-ladel::before {
  border-color: #2196F3;
}

.modal-polisy {
  color: #2196F3;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #2196F3;
  padding-top: 24px;
  padding-bottom: 25px;
}

.studio {
  color: #212121;
}

.footer-studio {
  color: #FFFFFF;
}

@media screen and (max-width: 1199px) {
  .logo {
    font-size: 24px;
    line-height: 1.166;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.192;
  }
}

.address-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 10px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link-maps:hover, .address-link-maps:focus, .address-link:hover, .address-link:focus {
  color: #2196F3;
}

.address-link-maps {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portheader {
  border-bottom: 1px solid #ececec;
}

.header {
  position: relative;
}

.header .container {
  padding: 0 15px;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation-link {
  display: flex;
}

.navigation-list-link {
  position: relative;
  color: #212121;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-list-link,
.navigation-list-link .address {
  font-weight: 500;
  letter-spacing: 0.02em;
}

.navigation-list-link::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196F3;
  opacity: 0;
}

.navigation .navigation-list-link.current::after {
  opacity: 1;
}

.navigation .navigation-list-link.current {
  color: #2196F3;
}

.icon-mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: #757575;
}

.icon-smartfone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: #757575;
}

.header .address {
  display: flex;
  text-align: center;
  align-items: center;
}

.navigation-list-link:hover,
.navigation-list-link:focus,
.address-mail-link:hover,
.address-mail-link:focus,
.address-tel-link:hover,
.address-tel-link:focus {
  color: #2196F3;
}

.address-tel-link:hover .icon-smartfone,
.address-tel-link:focus .icon-smartfone,
.address-mail-link:hover .icon-mail,
.address-mail-link:focus .icon-mail {
  fill: #2196F3;
}

.address-mail-link,
.address-tel-link {
  display: flex;
  align-items: center;
  text-align: center;
  font-style: normal;
  color: #757575;
  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .navigation-list-item:not(:last-child) {
    margin-bottom: 40px;
  }
  .navigation-list-link,
  .address {
    font-size: 18px;
    line-height: 1.166;
  }
  .address {
    flex-direction: column;
    margin-top: 60px;
  }
  .address-mail-link {
    margin-bottom: 16px;
  }
  .navigation-list-link::after {
    bottom: -8px;
  }
}

.menu-button {
  display: flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.menu-button .icon-close {
  display: none;
}

.menu-button:hover, .menu-button:focus {
  fill: #2196F3;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button.is-open .icon-close {
  display: block;
}

.menu-button.is-open .icon-burger {
  display: none;
}

.mobile-menu {
  display: flex;
  text-align: center;
  background: #FFFFFF;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
}

@media screen and (max-width: 767px) {
  .mobile-menu {
    overflow-y: scroll;
    padding: 60px 0;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 1;
  }
  .mobile-menu.is-open {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: #fff;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    box-shadow: none;
    align-items: center;
  }
  .navigation-list {
    display: flex;
    margin-left: 88px;
  }
  .navigation-list-item:not(:last-child) {
    margin-right: 50px;
  }
  .navigation-list-link {
    padding: 32px 0;
    display: flex;
  }
  .header .address {
    display: flex;
    margin-left: auto;
  }
  .address-mail-link,
  .address-tel-link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.166;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header .address {
    flex-direction: column;
    align-items: start;
  }
  .address-mail-link {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .address-mail-link,
  .address-tel-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    padding: 32px 0;
  }
  .header .address {
    align-items: center;
    text-align: center;
  }
  .address .address-mail-link {
    margin-right: 50px;
  }
}

.button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.button-list-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  background-color: #F5F4FA;
  color: #212121;
  border-radius: 4px;
  border: 0px;
  padding: 6px 20px;
  transition-property: color, background-color,box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.portfolio-button:hover, .portfolio-button:focus {
  background-color: #2196F3;
  color: #FFFFFF;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (max-width: 767px) {
  .button-list {
    margin-top: 76px;
    flex-wrap: wrap;
    justify-content: start;
    margin-bottom: 40px;
  }
  .button-list-item:nth-child(-n+3) {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .button-list {
    margin-bottom: 30px;
  }
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.portfolio-list-link {
  width: 100%;
  display: inline-block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list-item {
  border: 1px solid #EEEEEE;
}

.foto-container {
  position: relative;
  overflow: hidden;
}

.overlay-container {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-link:hover .overlay-container {
  transform: translateY(0);
}

.text-description {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.555;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

@media screen and (max-width: 767px) {
  .portfolio {
    padding: 60px 0;
  }
  .portfolio-list-item {
    width: 450px;
  }
  .portfolio-list-item:not(:last-child) {
    margin-bottom: 30px;
  }
  .overlay-container {
    padding: 77px 24px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio {
    padding: 60px 0;
  }
  .portfolio-list-item {
    width: 354px;
    border: 1px solid #EEEEEE;
  }
  .portfolio-list-item:not(:nth-last-child(-n+1)) {
    margin-bottom: 30px;
  }
  .overlay-container {
    padding: 49px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio {
    padding: 94px 0;
  }
  .portfolio-list-item {
    width: 370px;
    border: 1px solid #EEEEEE;
  }
  .portfolio-list-item:not(:nth-last-child(-n+3)) {
    margin-bottom: 30px;
  }
  .overlay-container {
    padding: 63px 24px;
  }
}

.footer {
  padding: 60px 0;
  background-color: #2F303A;
}

.footer-address {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.footer-title {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer-social-list {
  display: flex;
  margin-top: 20px;
}

.footer-social-list-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-list-svg {
  width: 20px;
  height: 20px;
  fill: #FFFFFF;
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover {
  background-color: #2196F3;
}

.mailing {
  display: block;
}

.mailing-form {
  margin-top: 20px;
}

.mailing-btn {
  width: 200px;
  height: 50px;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-left: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  padding: 10px 27px;
}

.mailing-btn::after {
  margin-left: 10px;
  content: "";
  width: 24px;
  height: 24px;
  background-image: url(../images/svg/send.svg);
  background-position: center;
}

.mailing-form-input {
  height: 50px;
  color: #FFFFFF;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  padding: 15px 16px;
}

.mailing-form-input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 767px) {
  .footer-address {
    margin-bottom: 60px;
  }
  .footer-address-container {
    text-align: center;
  }
  .footer-social {
    margin-bottom: 60px;
    text-align: center;
  }
  .footer-social-list {
    justify-content: center;
  }
  .mailing {
    text-align: center;
  }
  .mailing-btn {
    margin-top: 20px;
  }
  .mailing-form-input {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    display: flex;
  }
  .footer-address-container {
    text-align: center;
    margin-bottom: 60px;
  }
  .footer-container {
    flex-wrap: wrap;
    display: inline-flex;
    align-items: baseline;
    justify-content: space-around;
  }
  .footer-social {
    text-align: center;
  }
  .footer-social-list {
    justify-content: center;
  }
  .mailing {
    width: 450px;
    text-align: center;
  }
  .mailing-btn {
    margin-top: 20px;
  }
  .mailing-form-input {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .footer-address-container {
    margin-right: 70px;
    text-align: left;
  }
  .footer-social {
    text-align: left;
  }
  .mailing {
    display: block;
    margin-left: 93px;
    width: 570px;
    text-align: left;
  }
  .mailing-form {
    display: flex;
    align-items: flex-end;
    margin-top: 20px;
  }
}
/*# sourceMappingURL=portfolio.css.map */