.logo {
font-family: $main-font;
font-weight: 700;
font-size: 26px;
line-height: 1.192;
letter-spacing: 0.03em;
color: $accent-color;
padding-top: 24px;
padding-bottom: 25px;
}
.studio {
    color: $bacic-color;
}
.footer-studio {
    color: $auxiliary-color;
}
@media screen and (max-width: 1199px) {
    .logo {
        font-size: 24px;
        line-height: 1.166;
    }
}
@media screen and (min-width: 1200px) {
    .logo {
        font-size: 26px;
        line-height: 1.192;
    }
}