
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Roboto", sans-serif;
    background-color: $auxiliary-color;
    min-width: 320px;
    max-width: 1600px;
    margin: 0 auto;
}

.list {
    list-style: none;
}
.link {
text-decoration: none;
}
img {
    display: block;
}
.container {
    padding: 0 15px;
}
@media screen and (min-width: 480px) {
    .container{
        width: 480px;
        margin: 0 auto;
    }
}
@media screen and (min-width: 768px) {
    .container{
        width: 768px;
        margin: 0 auto;
    }
}
@media screen and (min-width: 1200px) {
    .container{
        width: 1200px;
        margin: 0 auto;
    }
}
